@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@400;600&display=swap');

@media screen and (max-width: 727px){
    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100vh;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        text-align: center;
        color: white;
        max-width: 100%;
        height: auto;
        font-size: 10px;
    }

    body{
        background-color: rgb(1, 0, 20);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
    }

    h1, h2{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    img{
        border-radius: 50%;
        border-width: 5px;
        border-color: rgb(35, 137, 184);
        border-style: solid;
    }
}

@media screen and (min-width: 728px){
    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100vh;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        text-align: center;
        color: white;
        max-width: 100%;
        height: auto;
        font-size: 10px;
    }

    body{
        background-color: rgb(1, 0, 20);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
    }

    h1, h2{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    img{
        border-radius: 50%;
        border-width: 5px;
        border-color: rgb(35, 137, 184);
        border-style: solid;
    }
    
}

@media screen and (min-width: 1024px){
    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100vh;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        text-align: center;
        color: white;
        max-width: 100%;
        height: auto;
        font-size: 10px;
    }

    body{
        background-color: rgb(1, 0, 20);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
    }

    h1, h2{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    img{
        border-radius: 50%;
        border-width: 5px;
        border-color: rgb(35, 137, 184);
        border-style: solid;
    }
}